<!DOCTYPE html>
<html>
<head>
  <title>Universal Primer: <%= title %></title>
  <%= stylesheet_link_tag 'stream' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'raphael.js' %>
  <%= javascript_include_tag 'ape-jsf/Build/uncompressed/apeClientJS.js' %>
  <%= javascript_include_tag 'ape_config.js' %>
  <%= javascript_include_tag 'ape.js' %>
  <%= javascript_include_tag 'flowplayer-3.1.4.js' %>
  <%= javascript_include_tag 'stream.js' %>

  <script type='text/javascript'>

    var chan = null;
    // TODO injection
    var streamName = "<%= @stream.name %>";

    function onApeReady() {
      chan = ape.joinChannel(streamName, onReceive, onChanReady);
    }

    function pageInit() {
      ape.init(onApeReady);
      init_raphael();
      init_flowplayer();
    }

    function init_flowplayer() {

			flowplayer('video', '/flash/flowplayer-3.1.5.swf', {
        

        clip: {
          url: 'foobar',
          live: true,
          provider: 'rtmp'
        },

        plugins: {

          rtmp: {
            url: '/flash/flowplayer.rtmp-3.1.3.swf',
            netConnectionUrl: 'rtmp://apel.grafiki.org/flvplayback'
          }
        }
      });
    }

  </script>
  

  <%= csrf_meta_tag %>
</head>
<body onload='pageInit()'>

  <%= yield %>

	<div style='display:block;width:320px;height:240px' id='video'></div>
    

</body>
</html>
